.copy-address-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 100%;
    overflow-wrap: break-word;
}

.copy-address-title {
    font-size: 1em;
    color: var(--colour-dark-grey);
    margin-right: auto;
}

.copy-address-icon-container {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.copy-address {
    display: flex;
    border: 1px solid var(--colour-dark-grey);
    margin-top: 10px;
    color: var(--colour-dark-grey);
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--animation-duration-fast);
    overflow-wrap: break-word;
}

.copy-address:hover {
    transform: scale(1.02, 1.05);
}

.copy-address-right-txt {
    margin-left: 30px;
}

@media screen and (max-width: 850px) {
    .copy-address-right-txt {
        display: none;
    }
    .copy-address {
        gap: 0.5em;
    }
    .address {
        width: 100%;
        word-wrap: break-word;
        padding-right: 0.5em;
    }
}