.squid-details-container {
    margin-top: 40px;
}

.squid-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.4em;
    font-weight: 700;
}

.squid-title {
    color: var(--colour-coral-blue);
    width: 50%;
    word-wrap: break-word;
}

.squid-id {
    width: 50%;
    word-wrap: break-word;
    text-align: right;
}

.squid-description {
    margin-top: 15px;
    color: var(--colour-dark-grey);
}

.squid-details {
    margin-top: 20px;
    color: var(--colour-dark-grey);
    width: 100%;
    word-wrap: break-word;
}

@media screen and (max-width: 850px) {
    .squid-details-container {
        font-size: 0.8em;
        width: 100%;
        overflow-wrap: break-word;
    }
}