/* =====================       Imports       ====================== */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* =====================        Global       ====================== */

:root {
    --colour-white: #FFFFFF;
    --colour-light-grey: #EFEFEF;
    --colour-light-grey-2: #d8d8d8;
    --colour-grey: #CCCCCC;
    --colour-dark-grey: #939393;
    --colour-darkest-grey: #4e4d4d;
    --colour-light-purple: #9347F4;
    --colour-purple: #7712F7;
    --colour-dark-purple: #5916af;
    --colour-dark-purple-b: #450993;
    --colour-red: #F53261;
    --colour-coral-blue: #2B927F;
    --colour-blue: #6CEBE4;
    --colour-royal-blue: #1212F7;
    --colour-green: #4BC57B;
    --colour-dark-green: #0f522a;

    --colour-text: #111111;

    --text-weight-extra-light: 200;
    --text-weight-light: 300;
    --text-weight-regular: 400;
    --text-weight-medium: 500;
    --text-weight-semi-bold: 600;
    --text-weight-bold: 700;
    --text-weight-extra-bold: 900;

    --animation-duration-fast: 200ms;
    --animation-duration-medium: 500ms;

    --content-margin: 12vw;

    --gradient-secondary-verticle: linear-gradient(6.54deg, #0D85C8 -25.64%, #32DD62 19.46%, #47F4C0 63.48%);
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    margin: 0;
    padding: 0;

    font-family: 'Source Sans Pro', sans-serif;
    background: var(--colour-light-grey);
    
    scroll-behavior: smooth !important;
}

.cursor-pointer {
    cursor: pointer;
}

.select-none {
    user-select: none;
}

main {
    display: flex;
    flex-grow: 1;
    overflow-x: scroll;
}

.pos-relative {
    position: relative;
}

.container {
    height: 100%;
    max-height: 100%;
    display: flex;
}

.view {
    width: 100%;
    max-height: 100vh;
    min-width: 320px;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

.tag {
    font-size: 0.7em;
    font-weight: 300;
}

.error-txt {
    color: var(--colour-red);
}

.blue-txt {
    color: var(--colour-blue);
}

.bold {
    font-weight: var(--text-weight-bold);
}

.make-white {
    filter: brightness(0) invert(1);
}

.push-top {
    margin-bottom: auto;
}

.push-bottom {
    margin-top: auto;
}

.push-left {
    margin-right: auto;
}

.push-right {
    margin-left: auto;
}

.push-center {
    margin-left: auto;
    margin-right: auto;
}

.w-90 {
    width: 90%;
}

.loading-table {
    height: max(250px, 35vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.table-container {
    width: 90%;
    max-width: 1750px;
    margin-inline: auto;
    margin-top: 20px;
    height: calc(100% - 90px);
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    padding-inline: 1.5em;
    border: 1px solid #939393;
    width: fit-content;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
}

.search-table-input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    width: 25em;
    font-size: 1.05em;
    color: #939393;
    font-weight: 500;
}

.balls-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: clip;
    z-index: 1;
}

.background-ball {
    --width: 9em;
    --height: var(--width);
    --top: none;
    --left: none;
    --right: none;
    --bottom: none;
    
    position: absolute;
    top: var(--top);
    bottom: var(--bottom);
    left: var(--left);
    right: var(--right);
    
    width: var(--width);
    height: var(--height);

    border-radius: 50%;
    background: linear-gradient(95.98deg, #0B073A -4.31%, #80225F 71.32%, #A22E34 123.07%), #80225F;
    filter: blur(2.5px);
}

.glass {
    background: linear-gradient(111.04deg, var(--colour-primary-grey-3) -67.37%, rgba(25, 25, 25, 0.1) 99.74%);
    border: 1px solid #191919;
    box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.modal-content {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.modal-fit-content {
    width: fit-content !important;
    height: fit-content !important;
    min-width: 250px;
    min-height: 150px;
    background: var(--colour-white);
}

.bg-white {
    background: var(--colour-white) !important;
}

.bg-light-grey {
    background: var(--colour-light-grey) !important;
}

.bdr-35 {
    border-radius: 25px !important;
}

.ovrflw-hdn {
    overflow: hidden !important;
}

.info-text {
    flex-grow: 1 !important;
    display: flex;
    flex-direction: column;
    min-height: 150px;
    border-radius: 25px !important;
    overflow: hidden !important;
    min-width: 250px;
}

.alert-header {
    display: flex;
    padding: 30px 20px 20px 20px;
    border-bottom: 1px solid var(--colour-darkest-grey);
    color: var(--colour-darkest-grey);
    font-weight: 700;
    align-items: center;
}

.alert-icon-container {
    display: flex;
    align-items: center;
    min-width: 30px;
    filter: brightness(0.5);
}

.alert-content {
    width: 100%;
    padding: 30px 20px 30px 20px;
    word-wrap: break-word;
}

.ReactModal__Overlay {
    z-index: 10;
    background: rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ReactModal__Content {
    opacity: 0;
    transition: all 200ms;
    max-width: 1000px;
    height: min(750px, 95%);
    width: 95%;
    border: none !important;
    inset: 0 !important;
    position: unset !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px !important;
    padding: 0 !important;
}

.ReactModal__Content--after-open {
    opacity: 1;
}

.ReactModal__Content--before-close {
    opacity: 0;
}

.qr-modal {
    background-color: var(--colour-white);
    padding: 20px !important;
    width: fit-content;
    height: fit-content;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 296px;
}

.vtspace-20 {
    margin-top: 20px;
}
